/* Import Google Font Family */
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Universal Work */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

h1 {
    font-size: 54px;
    line-height: 64px;
    color: #222222;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222222;
}

h4 {
    font-size: 20px;
    color: #222222;
}

h6 {
    font-size: 12px;
    font-weight: 700;
}

p {
    font-size: 16;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.section-p1 {
    padding: 40px 80px;
}

#expoBtn {
    padding: 10px 30px;
    border: none;
    outline: none;
    font-size: 17px;
    font-weight: 500;
    background: #088178;
    color: #ffffff;
    border-radius: 30px;
    cursor: pointer;
}

#expoBtn:hover {
    background-color: #1a1a1a;
    transition: 0.5s ease-in;
}

.btn {
    padding: 10px 30px;
    border: none;
    outline: none;
    font-size: 17px;
    font-weight: 500;
    background: #088178;
    color: #ffffff;
    border-radius: 30px;
    cursor: pointer;
}

.section-m1 {
    margin: 40px 0;
}

body {
    width: 100%;
}

/* Start Header Style */
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 80px;
    background: #e3e6f3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    top: 0;
    left: 0;
    position: sticky;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar li {
    list-style: none;
    padding: 5px 20px;
    position: relative;
}

.navbar li a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}

.navbar li a:hover {
    color: #088178;
}

.navbar li a.active {
    color: #088178;
}

/* Sudo Class Use */
.navbar li a.active::after,
.navbar li a:hover::after {
    content: '';
    height: 3px;
    width: 40%;
    background-color: #088178;
    position: absolute;
    bottom: -2px;
    left: 15px;
}

/* Hero Section Style  */
#hero {
    background-image: url(./src/heroBg1.jpg);
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 10% right 0;
    display: flex;
    align-items: center;
    justify-content: start;
}

#hero .left-col {
    padding: 0 80px;
}

#hero .left-col h4 {
    padding-bottom: 15px;
}

#hero .left-col h2 {
    font-weight: 600;
    font-size: 65px;
}

#hero .left-col h1 {
    color: #088178;
    font-weight: 700;
    font-size: 80px;
}

/* Feature Section Style */
#feature {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}

#feature .feauter-box {
    width: 200px;
    text-align: center;
    padding: 15px 20px;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.04), -20px -20px 30px rgba(0, 0, 0, 0.04);
    border-radius: 10px;
    margin: 20px 10px;
    transition: 0.3s ease-in-out;
}

#feature .feauter-box:hover {
    transform: translateY(-10px);
    border-bottom: 2px solid #088178;
}

#feature .feauter-box img {
    margin-bottom: 10px;
    transition-duration: 0.3s;
}

#feature .feauter-box img:hover {
    transform: scale(1.05);
}

#feature .feauter-box h6 {
    margin-top: 10px;
    padding: 7px 20px;
    color: #088178;
    background-color: #fddde4;
    display: inline-block;
    border-radius: 5px;
    line-height: 1;
}

#feature .feauter-box:nth-child(2) h6 {
    background-color: #e3e6f3;
}

#feature .feauter-box:nth-child(3) h6 {
    background-color: #91fdc1;
}

#feature .feauter-box:nth-child(4) h6 {
    background-color: #91ddfd;
}

#feature .feauter-box:nth-child(5) h6 {
    background-color: #fbe59a;
}

#feature .feauter-box:nth-child(6) h6 {
    background-color: #efabfe;
}

/* Featured Product Section */
#featured-products {
    text-align: center;
}

#featured-products h2 {
    font-size: 46px;
    font-weight: 600;
}

#featured-products p {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
}

#featured-products .product-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.product-container .product {
    width: 23%;
    min-width: 230px;
    padding: 10px 12px;
    margin-top: 25px;
    border: 1px solid #e3e6f3;
    border-radius: 5px;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.03);
    cursor: pointer;
    transition: 0.3s ease;
    position: relative;

}

.product-container .product:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

.product-container .product img {
    width: 100%;
    border-radius: 5px;
}

.product-container .product .desc {
    text-align: start;
    padding: 10px 0;
}

.product-container .product span {
    color: #606063;
    font-size: 12px;
}

.product-container .product h5 {
    font-size: 14px;
    color: #1a1a1a;
    padding-top: 5px;
    font-weight: 600;
}

.product-container .product .star-rating {
    font-size: 12px;
    color: #f7db09;
}

.product-container .product h4 {
    margin-top: 7px;
    font-size: 17px;
    font-weight: 700;
    color: #088178;
}

.product-container .product .cartIcon {
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 50%;
    background-color: #eaf8ea;
    color: #088178;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 25px;
    right: 20px;
}

/* Banner Section */
.banner {
    height: 45vh;
    width: 100%;
    text-align: center;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(./src/BannerImg/banner1.jpg);
    background-size: cover;
    background-position: center;
}

.banner h4 {
    font-size: 17px;
    color: #ffffff;
}

.banner h1 {
    font-size: 50px;
    color: #ffffff;
    font-weight: 700;
}

.banner h1 span {
    color: #088178;
}

.banner button {
    background-color: #088178;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    outline: none;
    color: #ffffff;
    font-weight: 600;
    font-size: 17px;
    cursor: pointer;
}

.banner button:hover {}